[user]
    useConfigOnly = true
[core]
    excludesfile = ~/Dotfiles/.gitignore_personal
    attributesfile = ~/Dotfiles/.gitattributes_personal
    autocrlf = input
    symlinks = true
	# Avoid diffs due to file mode changes
	fileMode = false
	untrackedCache = true
	fsmonitor = true
	commitGraph = true
[gc]
	auto = 256
	writeCommitGraph = true
[rerere]
	enabled = true
[pull]
	rebase = true
[merge]
	conflictstyle = zdiff3
[diff]
	algorithm = histogram
	submodule = log
[status]
	submoduleSummary = true
[fetch]
	writeCommitGraph = true
