[user]
    useConfigOnly = true
[core]
    excludesfile = ~/Dotfiles/.gitignore_personal
    attributesfile = ~/Dotfiles/.gitattributes_personal
    autocrlf = input
    symlinks = true
[gc]
	auto = 256
[rerere]
	enabled = true
