[user]
	useConfigOnly = true
[core]
	excludesfile = ~/Dotfiles/.gitignore_personal
	attributesfile = ~/Dotfiles/.gitattributes_personal
	autocrlf = input
	symlinks = true
	# Avoid diffs due to file mode changes
	fileMode = false
	untrackedCache = true
	fsmonitor = true
	commitGraph = true
	longpaths = true
[gc]
	auto = 256
	writeCommitGraph = true
[rerere]
	enabled = true
	autoupdate = true
[pull]
	rebase = true
[merge]
	conflictstyle = zdiff3
[diff]
	algorithm = histogram
	submodule = log
	colorMoved = plain
	mnemonicPrefix = true
	renames = true
[status]
	submoduleSummary = true
[fetch]
	writeCommitGraph = true
	prune = true
	pruneTags = true
	all = true
[column]
	ui = auto
[branch]
	sort = -committerdate
[tag]
	sort = version:refname
[push]
	followTags = true
[help]
	autocorrect = prompt
[rebase]
	autoSquash = true
	autoStash = true
	updateRefs = true
[log]
	date = iso
